# Temporary build artifacts and cache
build/
dist/
releases/

# Large binaries / Assets
# Ignore everything under platforms/ except pyxel thumbs
/platforms/*
!/platforms/pyxel/
/platforms/pyxel/*
!/platforms/pyxel/thumbs/

# System files
.DS_Store
Thumbs.db
._*

# Editor directories
.vscode/
.idea/
*.swp

# Node modules (if any)
node_modules/
npm-debug.log
